In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [12]:
data_set = pd.read_csv('/content/drive/MyDrive/SUV_Purchase.csv')

In [15]:
data_set.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [17]:
x= data_set.iloc[:,[2,3]].values
y=data_set.iloc[:,4].values

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [23]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc= StandardScaler()
x_train =sc.fit_transform(x_train)
x_test= sc.fit_transform(x_test)

In [26]:
from sklearn.linear_model import LogisticRegression

In [28]:
classifier = LogisticRegression(random_state=0)

In [29]:
classifier.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
y_pred = classifier.predict(x_test)

In [31]:

from sklearn.metrics import accuracy_score

In [32]:
m= accuracy_score(y_test,y_pred)
m

0.8916666666666667